.app {
  background-image: url("./images/weather1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.app h1 {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat Subrayada", sans-serif;
}
